local config = {}

config.rebootinto = {
  enabled = false,
  items = {
    { name = "Windows", efi_num = 0 },
  }
}

config.widgets = {}

config.widgets.weather = {
  enabled = false,
  coordinates = {53.9025865, 27.6342677}
  apikey = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
}

config.widgets.volume = {
  enabled = false,
  alsa_channel = "Master"
}

config.widgets.backlight = {
  enabled = false
}

config.widgets.battery = {
  enabled = false
}

return config
